# Created by .ignore support plugin (hsz.mobi)

*.iml
.idea
.settings/
.class
.project
WebRoot/WEB-INF/classes/
.DS_Store
/out
/target
out
target
/.gitignore
/.idea
/meerkat.iml
/lib
/logs
webapp/WEB-INF/classes
webapp/WEB-INF/lib
assets.manifest
src/main/resources/rebel.xml
src/test/resources/rebel.xml
