html, body {

}

body {
    background-color: #e6e6e6;
    font: 16px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blog-container .blog-content header {
    padding: 15px;
}

img {
    vertical-align: middle;
}

/* 组件样式 */
.clear-f {
    overflow: hidden;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

@media screen and (min-width: 1000px) {
    .container {
        padding: 50px 0;
    }

    .blog-content {
        padding: 24px;
    }
}

@media screen and (max-width: 999px) {
    .blog-content {
        /*padding: 14px;*/
    }
}

.blog-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.blog-container > img {
    width: 100%;
}

.blog-content header h1 {
    font-size: 26px;
    line-height: 44px;
    color: #444;
    font-weight: bold;
}

.blog-content header h3 {
    padding: 20px 0 15px 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    color: #898989;
}

.blog-content header p {
    font-size: 14px;
    color: #5a5a5a;
    line-height: 34px;
}

.blog-content .content {
    color: #3A4145;
    font-size: 16px;
    line-height: 26px;
}

/* blog后台 */
.blog-admin {
    padding: 20px;
}

.form-horizontal > div {
    margin-top: 30px;
}

/*图片上传*/
.image-upload {
    visibility: hidden;
    height: 0;
}