html, body {
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none; /*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}

body {
    background-color: #e6e6e6;
    font: 16px "Open Sans", "OpenSans", "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #373d48;
}

a {
    color: #C12127;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/* 组件样式 */
.clear-f {
    overflow: hidden;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.image-upload {
    visibility: hidden;
    height: 0;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
}

.link-btn {
    padding: 5px 20px 6px 20px;
    border-radius: 20px;
}

.red-btn {
    background-color: #cb3837;
    color: #fff;
}

.red-btn:hover {
    background-color: #ac2e2d;
}

/*博客首页*/
.blog-index-banner {
    background-color: #fff;
    margin: 0 100px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.blog-index-banner-inner {
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.blog-index-banner .logo {
    width: 120px;
    float: left;
}

.blog-index-banner .blog-index-banner-content {
    margin-left: 140px;
}

.blog-index-banner .blog-index-banner-content h1 {
    padding-top: 30px;
    font-size: 34px;
    font-weight: bold;
}

.blog-index-banner .blog-index-banner-content h2 {
    padding-top: 20px;
    color: #414141;
}

.list-container-content li {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    margin: 15px 0;
    overflow: hidden;
}

.list-container-content li h3 {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.list-container-content li div .heads {
    height: 24px;
    width: 24px;
    border-radius: 100%;
}

.list-container-content li div span {
    color: #777;
    font-size: 14px;
}

.list-container-content li div span a {
    padding: 0 4px;
}

.list-container-content li p {
    text-align: justify;
    padding: 15px 0;
    line-height: 24px;
}

.blog-container .blog-content header {
    padding: 15px;
}

.blog-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.blog-list-container {
    margin: 0 100px;
}

/*博客详情*/
.blog-list-container div.list-container-right {
    width: 240px;
    float: right;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.blog-list-container div.list-container-content {
    margin-right: 260px;
}

.blog-container > img {
    width: 100%;
}

.blog-content header h1 {
    font-size: 26px;
    line-height: 44px;
    color: #444;
    font-weight: bold;
}

.blog-content header h3 {
    padding: 20px 0 15px 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    color: #898989;
}

.blog-content header p {
    font-size: 14px;
    color: #5a5a5a;
    line-height: 34px;
}

.blog-content .content {
    color: #3A4145;
    font-size: 16px;
    line-height: 26px;
}

.view-data {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.view-data span{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 14px 0 5px;
}
.view-data span,
.view-data svg {
    float: right;
}

/* blog后台 */
.blog-admin {
    padding: 20px;
}

.form-horizontal > div {
    margin-top: 30px;
}

@media screen and (min-width: 1000px) {
    .container {
        padding: 50px 0;
    }

    .list-container {
        padding: 15px 0;
    }

    .blog-content {
        padding: 24px;
    }
}

@media screen and (max-width: 768px) {
    .blog-content{
        padding-bottom: 20px;
    }
    .blog-list-container div.list-container-right {
        display: none;
    }

    .blog-list-container div.list-container-content {
        margin-right: 0;
    }

    .blog-index-banner,
    .blog-list-container {
        margin: 0 2%;
    }

    .blog-index-banner-inner {
        margin-top: 10px;
    }

    .blog-index-banner .logo {
        display: none;
    }

    .blog-index-banner .blog-index-banner-content {
        margin-left: 0;
    }

    .blog-index-banner .blog-index-banner-content h1 {
        padding-top: 20px;
    }
}